body {
	min-width: 410px;
}

/* --- HEADER --- */
#masthead {
	background-color: #1da1f2;
	border-radius: .5rem .5rem 0 0;
	position: relative;
}
#masthead h1 {
	padding: 1rem 7.5%;
	margin-bottom: 0;
	font-weight: 400;
	text-align: center;
	color: #fff;
}
#masthead .logo {
	position: absolute;
    top: 0;
    left: 1rem;
    width: 6.8rem;
}

/* --- MENU --- */
#menu {
	background-color: #c1c1c1;
	border-radius: 0 0 .5rem .5rem;
}
#menu .options {
	text-align: center;
    margin-bottom: 1rem;
}
#menu .options li {
	display: inline-block;
    margin: .75rem .5rem;
    width: 30%;
}
#menu .options li a.button {
	display: block;
	padding: 0 1.25rem;
	margin-bottom: 0;
	color: #1da1f2;
	background-color: #fff;
	text-decoration: none;
}
#menu .options li a.button span[class^='icon-'] {
	font-size: 1.5rem;
    vertical-align: text-bottom;
}
#menu .options li a.button span.icon-twitter {
	font-size: 1.8rem;
}

/* --- MAIN --- */
#main {
	width: 90%;
}

/* --- SECTIONS --- */
#main .placeholder {
	min-height: 30rem;
}
#main section {
	padding-bottom: 4rem;
    border-bottom: 1px solid #c1c1c1;
    margin-top: 1rem;
}
#main section h2 {
	margin-bottom: 1rem;
	font-size: 2.6rem;
	font-weight: bold;
}

/* --- SECTION TWEETS --- */
#main #tweetContainer.placeholder {
	min-height: 35rem;
}
#tweetContainer {
	text-align: center;
}
#tweetContainer .ctx-tw-wrapper {
    margin-bottom: 1rem;
    display: inline-block;
}
#tweetContainer twitterwidget {
	margin: 0 auto !important;
}
#tweetContainer .unavailable {
	position: static;
    visibility: visible;
    display: block;
    transform: rotate(0deg);
    width: 37rem;
    margin: .4rem auto;
    max-width: 100%;
    min-width: 22rem;
}
#tweetContainer .unavailable p {
	display: block;
    background: 0 0;
	overflow: hidden;
    cursor: pointer;
    background-color: #fff;
    margin-bottom: 0;
    border: .1rem solid #e1e8ed;
    border-radius: .5rem;
    max-width: 52rem;
    padding: 1.05rem 1.75rem;
    font: normal normal 1.55rem/1.4 Helvetica,Roboto,"Segoe UI",Calibri,sans-serif;
    color: #1c2022;
    white-space: initial;
}
#tweetContainer .unavailable p:hover {
	border-color: #ccd6dd;
}
#tweetPaginator,
#tweetFilterBy {
	margin-left: 0;
	width: 50%;
	margin-bottom: .75rem;
}
#tweetCount h3 {
	font-size: 1.8rem;
    line-height: 3.2rem;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 0;
    text-align: right;
}
#tweetFilterBy .filter-by {
	text-align: right;
}
#tweetFilterBy .filter-by h3 {
	font-size: 1.8rem;
	line-height: 2.6rem;
	font-family: 'Open Sans', sans-serif;
    margin-bottom: 0;
    margin-right: .25rem;
    vertical-align: middle;
    display: inline-block;
}
#tweetFilterBy .selector {
	height: 2.6rem;
    padding: .3rem;
    line-height: 1.3;
    font-size: 1.2rem;
    margin-bottom: 0;
    max-width: 100%;
    border: 1px solid #1da1f2;
}
#tweetContainer .ctx-tw-wrapper .sentiment {
	font-family: Helvetica, Roboto, "Segoe UI", Calibri, sans-serif;
    font-size: 1.4rem;
    line-height: 1.4;
    font-weight: 400;
    border: 1px solid #e1e8ed;
    border-radius: .5rem;
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: .5rem 2rem;
    color: #697882;
}
#tweetContainer .ctx-tw-wrapper:hover .sentiment {
	border-color: #ccd6dd;
	background-color: #c5c5c5a6;
}
#tweetContainer .ctx-tw-wrapper .sentiment .label,
#tweetContainer .ctx-tw-wrapper .sentiment .value {
	width: 50%;
	float: left;
	box-sizing: border-box;
}
#tweetContainer .ctx-tw-wrapper .sentiment .label {
	text-align: left;
}
#tweetContainer .ctx-tw-wrapper .sentiment .value {
	text-align: right;
}
#tweetContainer .ctx-tw-wrapper .sentiment .value .smiley,
#tweetContainer .ctx-tw-wrapper .sentiment .value .score {
	display: inline-block;
	vertical-align: middle;
}
#tweetContainer .ctx-tw-wrapper .sentiment .value .score {
	margin-bottom: 0;
}

/* --- PAGINATION --- */
.paginator .paginationjs .paginationjs-pages ul li {
	margin-bottom: 0;
}

/* SECTION KEYWORDS */
#ners #nerCount h3 {
	font-size: 1.8rem;
	line-height: 3.2rem;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 0;
    text-align: right;
}
#ners #nersContainer {
	text-align: left;
}
#nersContainer .keyword {
	display: inline-block;
	float: left;
    margin: .2rem;
    padding: 0 .5rem;
    background-color: #1da1f2;
    border: .1rem solid #1da1f2;
    border-radius: .3rem;
    color: #fff;
    font-size: 1.3rem;
    cursor: pointer;
}
#nersContainer .keyword:hover {
    background-color: #e9f4fc;
    color: #1da1f2;
}
#ners #urlsContainer {
	overflow: hidden;
	transition: max-height 0.4s ease-in-out;
	/*height: 0;*/
	max-height: 0;
}
#ners #urlsContainer.active {
  	max-height: 60rem;
  	height: auto;
  	transition: max-height 0.4s ease-in-out;
}
#ners #urlsContainer #urlsWrapper {
	position: relative;
    margin-top: .5rem;
    border: 1px solid #c1c1c1;
    border-radius: .4rem;
}
#ners #urlsContainer #urlsWrapper table.urls-tbl {
	table-layout: fixed;
	margin-bottom: 0;
	overflow: hidden;
	font-family: 'Open Sans', sans-serif;
}
#ners #urlsContainer #urlsWrapper table.urls-tbl th {
	padding: .3rem 2.5rem .3rem .75rem;
	border-bottom: 1px solid #c1c1c1;
	text-align: center;
}
#ners #urlsContainer #urlsWrapper table.urls-tbl td {
    padding: .3rem .3rem .3rem .75rem;
    border-bottom: 1px solid #c1c1c1;
    word-wrap: break-word;
}
#ners #urlsContainer #urlsWrapper table.urls-tbl td a {
    color: #000;
}
#ners #urlsContainer #urlsWrapper table.urls-tbl td a:hover {
    color: #0FA0CE
}
#ners #urlsContainer #urlsWrapper table.urls-tbl tbody tr:nth-child(odd) {
    background-color: #c9e9ff;
}
#ners #urlsContainer #urlsWrapper table.urls-tbl tbody tr:last-child td {
    border-bottom: none;
}
#ners #urlsContainer #urlsWrapper h3 {
    font-size: 2rem;
    margin-bottom: .25rem;
    margin-right: 2rem;
}
#ners #urlsContainer #urlsWrapper .close-button {
	position: absolute;
    content: "";
    text-align: center;
    width: 1.4rem;
    height: 1.4rem;
    background: #c1c1c1;
    top: 0;
    right: 0;
    padding: .5rem;
    border-radius: .4rem;
    font-size: 1.4rem;
    color: #ffffff;
    cursor: pointer;
}
#ners #urlsContainer #urlsWrapper .close-button:hover {
	background: #1da1f2;
}

/* SECTION OPINION */
#sentimentContainer {
    position: relative;
}
#sentimentScore {
	height: 3.2rem;
}
#sentimentScore h3 {
	font-size: 2rem;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 0;
    text-align: right;
}
#sentimentScore h3 .numerator {
	font-size: 1.8rem;
	vertical-align: super;
}
#sentimentScore h3 .denominator {
	font-size: 1.8rem;
	vertical-align: sub;
}
#sentimentContainer .smiley {
	display: inline-block;
	float: left;
    width: 4rem;
    height: 4rem;
    padding: .75rem;
    opacity: 0.6;
}
#sentimentContainer .smiley.active {
	width: 4.5rem;
	height: 4.5rem;
    opacity: 1;
    background-color: #d9d9d9;
    border-radius: .5rem;
}
#sentimentContainer .smiley img {
	display: block;
    width: 100%;
}

/* --- FOOTER --- */
#footer {
	width: 100%;
	padding: 0 5%;
	background-color: #000;
	color: #fff;
}
#footer .about img {
	max-width: 60%;
	margin-bottom: 0;
} 
#footer .affiliation img {
	max-width: 100%;
	margin-top: 2rem;
}
#footer section {
	padding: 5%;
	font-size: 1.3rem;
	text-align: center;
}
#footer section * {
	margin-bottom: 1rem;
}
#footer .contact {
	text-align: center;
	margin-bottom: 1.5rem;
	font-size: 1.3rem;
}