body {
	min-width: 450px;
}

/* --- HEADER --- */
#masthead {
	background-color: #1da1f2;
	border-radius: .5rem .5rem 0 0;
	position: relative;
}
#masthead h1 {
	padding: 1rem 7.5%;
	margin-bottom: 0;
	font-weight: 400;
	text-align: center;
	color: #fff;
}
#masthead .logo {
	position: absolute;
    top: 0;
    left: 1rem;
    width: 6.8rem;
}

/* --- MENU --- */
#menu {
	background-color: #dadada;
	border-radius: 0 0 .5rem .5rem;
}
#menu .options {
	text-align: center;
    margin-bottom: 1rem;
}
#menu .options li {
	display: inline-block;
    margin: 1rem .5rem;
    width: 30%;
}
#menu .options li a.button {
	display: block;
	padding: 0 1.25rem;
	margin-bottom: 0;
	color: #1da1f2;
	background-color: #fff;
	text-decoration: none;
}
#menu .options li a.button span[class^='icon-'] {
	font-size: 1.5rem;
    vertical-align: text-bottom;
}
#menu .options li a.button span.icon-twitter {
	font-size: 1.8rem;
}

/* --- MAIN --- */
#main {
	width: 85%;
}

/* --- SECTIONS --- */
#main .placeholder {
	min-height: 30rem;
}
#main section {
	margin-bottom: 1rem;
}
#main section h2 {
	margin-bottom: .5rem;
}

/* --- SECTION TWEETS --- */
#main #tweetContainer.placeholder {
	min-height: 35rem;
}
#tweetContainer twitterwidget {
	margin: .4rem auto !important;
}
/* --- PAGINATION --- */
.paginator {
	margin-bottom: .5rem;
}
.paginator .paginationjs .paginationjs-pages ul li {
	margin-bottom: 0;
}

/* --- FOOTER --- */
#footer {
	width: 100%;
	padding: 0 5%;
	background-color: #000;
	color: #fff;
}
#footer .about img {
	max-width: 60%;
	margin-bottom: 0;
} 
#footer .affiliation img {
	max-width: 100%;
	margin-top: 2rem;
}
#footer section {
	padding: 5%;
	font-size: 1.3rem;
	text-align: center;
}
#footer section * {
	margin-bottom: 1rem;
}
#footer .contact {
	text-align: center;
	margin-bottom: 1.5rem;
	font-size: 1.3rem;
}