<div class="smiley {{#if options.veryNeg}}active{{/if}}" title="Very negative">
	<img src="/images/very-neg.png">
</div>
<div class="smiley {{#if options.neg}}active{{/if}}" title="Negative">
	<img src="/images/neg.png">
</div>
<div class="smiley {{#if options.neutral}}active{{/if}}" title="Neutral">
	<img src="/images/neutral.png">
</div>
<div class="smiley {{#if options.pos}}active{{/if}}" title="Positive">
	<img src="/images/pos.png">
</div>
<div class="smiley {{#if options.veryPos}}active{{/if}}" title="Very positive">
	<img src="/images/very-pos.png">
</div>